# ----------------------------------------
# Haskell / GHCi 関連
# ----------------------------------------
# GHCiの一時ファイルや履歴ファイル
.ghci-history

# Stack / Cabal が生成するビルドディレクトリ
# プロジェクトルートに置かれることが多いです
dist-newstyle/
.stack-work/

# macOSのメタデータファイル
.DS_Store

# ----------------------------------------
# Neovim / エディタ 関連
# ----------------------------------------
# Neovimのスワップファイルやバックアップファイル
*.swp
*~
Session.vim

# ----------------------------------------
# シェルスクリプト 関連
# ----------------------------------------
# スクリプトの実行によって生成される可能性のある一時ログファイルなど
# このプロジェクトでは特に不要かもしれませんが、念のため。
*.log

# 過去に作成していたプログラム 参照用に仮置き（gitの過去を辿ればいいので、削除してもOKだが、便宜上作成しているフォルダ）
old/
